NEXT_PUBLIC_SUPABASE_URL=https://ihekujsamqpykxheowhh.supabase.co
NEXT_PUBLIC_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImloZWt1anNhbXFweWt4aGVvd2hoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDkyNTIzODcsImV4cCI6MjAyNDgyODM4N30.aCFMqTpJ1bLeM7UN7j0ovq_1tAWXUheOBUk8iAszq44